<div class="main main-raised-narrow" style="background-color:transparent;">&nbsp;</div>
<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul class="footer-menu">
                <li>
                    <a href="/">
                        Insure My Hand
                    </a>
                </li>
                <li>
                    <a href="/home/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/home/tou">
                        Terms of Use
                    </a>
                </li>
            </ul>
        </nav>

        <!--<div class="copyright float-right font-italic">
            &copy; <!  --ko text:year--  >
            < ! - -/ko--  > Harpocrates
        </div>-->

    </div>
    <div class="container">

    </div>
</footer>