<div class='modal' tabindex='-1' role='dialog' data-backdrop='static'>
    <div class='modal-dialog modal-open modal-sm' role='document'>
        <div class='modal-content'>
            <div class='modal-body'>
                <center>
                    <!--ko template: 'template-loader'-->
                    <!--/ko-->
                    <!--ko if:(message && message())-->
                    <div data-bind="text:message"></div>
                    <!--/ko-->
                </center>

            </div>
        </div>
    </div>
</div>
