@{
    ViewData["Title"] = "Dashboard";
}

<script type="text/html" src="/templates/public/home/body.html" id="template-body">
</script>

<!-- dashboard:start -->
<script type="text/html" src="/templates/public/home/dashboard/_root.html" id="template-body-dashboard">
</script>

<script type="text/html" src="/templates/public/home/dashboard/transactions-by-status-pie.html" id="template-body-dashboard-transactions-by-status-pie">
</script>

<script type="text/html" src="/templates/public/home/dashboard/secret-by-type-rotations.html" id="template-body-dashboard-secrets-by-type-ratations">
</script>
<script type="text/html" src="/templates/public/home/dashboard/rotation-history.html" id="template-body-dashboard-rotation-history">
</script>
<!-- dashboard:end -->
<!-- settings:start -->
<script type="text/html" src="/templates/public/home/settings/_root.html" id="template-body-settings">
</script>
<!-- settings:end -->
<!-- config:start -->
<script type="text/html" src="/templates/public/home/config/_root.html" id="template-body-config">
</script>

<script type="text/html" src="/templates/public/home/config/policy.html" id="template-body-config-policies">
</script>

<script type="text/html" src="/templates/public/home/config/service.html" id="template-body-config-services">
</script>

<script type="text/html" src="/templates/public/home/config/secret.html" id="template-body-config-secrets">
</script>

<script type="text/html" src="/templates/public/home/config/editor/policy.html" id="template-body-config-editor-policy">
</script>

<script type="text/html" src="/templates/public/home/config/editor/service.html" id="template-body-config-editor-service">
</script>

<script type="text/html" src="/templates/public/home/config/editor/secret.html" id="template-body-config-editor-secret">
</script>
<!-- config:end -->
<placeholder class="template-body">
    <div class="wait-for-templates">
        <center>
            <div>
                <!--<span class="oi oi-cog icon-spin"></span>-->
                <h2><i class="fas fa-spinner fa-pulse"></i></h2>
            </div>
            <div>Loading, please wait...</div>
        </center>
    </div>
</placeholder>
<placeholder class="template-body-config-editor-policy"></placeholder>
<placeholder class="template-body-config-editor-service"></placeholder>
<placeholder class="template-body-config-editor-secret"></placeholder>

@section Scripts
    {

    <script src="~/js/api/policy.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/api/service.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/api/secret.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/loader/policy.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/loader/service.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/loader/secret.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/api/tracking.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/loader/tracking.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/public/app.js" type="text/javascript" asp-append-version="true"></script>

    <script type="text/javascript">

        //init DateTimePickers
        // materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        // materialKit.initSliders();

        $(function () {
            window.Harpocrates.common.templates.load().done(
                function () {
                    var vm = window.Harpocrates.app.createViewModel();

                    ko.applyBindings(vm.nav.menu, $('div.template-menu')[0]);
                    ko.applyBindings(vm.nav.sidebar, $('div.template-sidebar')[0]);

                    ko.applyBindings(vm.body, $('div.template-body')[0]);

                    ko.applyBindings(vm.nav.footer, $('div.template-footer')[0]);
                }
            );
        });
    </script>
}