
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class="container-fluid">
        <!--ko with:current-->
        <a class="navbar-brand text-uppercase" href="#" data-bind="click:actions.select">
            <!--ko text:text--><!--/ko-->
            <!--<! --ko if:icon-- >
            <i data-bind="attr:{'class': icon}"></i>&nbsp;&nbsp;<! --/ko-- >
            <span class="text-uppercase" data-bind="text:text"></span>-->
        </a>
        <!--/ko-->
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!--nav left-->
            <ul class="nav navbar-nav mr-auto" data-bind="foreach:items.left">
                <!--ko ifnot:isActive-->
                <!--ko template:'template-menu-item'-->
                <!--/ko--><!--/ko-->
            </ul>

            <!--nav right-->
            <ul class="navbar-nav ml-auto" data-bind="foreach:items.right">
                <!--ko template:'template-menu-item'-->
                <!--/ko-->
            </ul>
        </div>
    </div>
</nav>
