<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/" class="simple-text">
            Harpocrates
        </a>
    </div>
    <ul class="nav" data-bind="foreach:items">

        <li  data-bind="css: {'active': isActive}, visible:visible()">
            <a class="nav-link" href="#" data-bind="click:actions.select">
                <!--ko if:icon-->
                <i data-bind="attr:{'class': icon}"></i><!--/ko--><p data-bind="text:text"></p>
            </a>
        </li>
    </ul>
</div>


<!--
  <li class="nav-item active">
            <a class="nav-link" href="dashboard.html">
                <i class="nc-icon nc-chart-pie-35"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./user.html">
                <i class="nc-icon nc-circle-09"></i>
                <p>User Profile</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./table.html">
                <i class="nc-icon nc-notes"></i>
                <p>Table List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./typography.html">
                <i class="nc-icon nc-paper-2"></i>
                <p>Typography</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./icons.html">
                <i class="nc-icon nc-atom"></i>
                <p>Icons</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./maps.html">
                <i class="nc-icon nc-pin-3"></i>
                <p>Maps</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./notifications.html">
                <i class="nc-icon nc-bell-55"></i>
                <p>Notifications</p>
            </a>
        </li>
        <li class="nav-item active active-pro">
            <a class="nav-link active" href="upgrade.html">
                <i class="nc-icon nc-alien-33"></i>
                <p>Upgrade to PRO</p>
            </a>
        </li>

-->
